.sdb-popup-card-def-sound {
  cursor: pointer;
  margin: 0 0 0 1em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  color: #1d9bf5;
  background: none;
  padding: 2px;
  border-radius: 2px;
  width: 1.5em;
  height: 1.5em;
  opacity: 1;
}

.sdb-popup-card-def-sound > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  display: none;
}

.sdb-popup-card-def-sound:hover > svg {
  display: none;
}

.sdb-popup-card-def-sound > svg.default-sound {
  display: block;
}

.sdb-popup-card-def-sound:hover > svg.default-sound-hover {
  display: block;
}

.sdb-popup-card-def-sound_animation > svg:nth-of-type(1) {
  -webkit-animation: _3uPUn .6s 0s infinite;
  animation: _3uPUn .6s 0s infinite;
  z-index: 1;
}
.sdb-popup-card-def-sound_animation > svg:nth-of-type(2) {
  -webkit-animation: _2ap2e .6s 0s infinite;
  animation: _2ap2e .6s 0s infinite;
  z-index: 1;
}
.sdb-popup-card-def-sound_animation > svg:nth-of-type(3) {
  -webkit-animation: UHd5D .6s 0s infinite;
  animation: UHd5D .6s 0s infinite;
  z-index: 1;
}
.sdb-popup-card-def-sound_animation > svg:nth-of-type(4) {
  -webkit-animation: _2_tKW .6s 0s infinite;
  animation: _2_tKW .6s 0s infinite;
  z-index: 1;
}
.sdb-popup-card-def-sound_animation > .default-sound {
  -webkit-animation: _15Npa .6s 0s infinite;
  animation: _15Npa .6s 0s infinite;
  display: inline-block;
  opacity: 0;
  z-index: 0;
}

.sdb-popup-card-def-sound_animation > .default-sound-hover {
  display: none;
}
