@import '../card.scss';

.card-synonym-list{
    margin: 0;
    padding: 0;
    float: left;
}

.card-synonym-list__item{
    float: left;
    margin: 0 0 0 .3em;
}

.card-synonym-list__item-text {
    float: left;
}

.card-means {
    overflow: hidden;
    zoom: 1;
}

