@import '../../../display/display';

// отступ после запятой в списках, разделённых запятыми
$comma-list-padding: .3em;

// вертикальный отступ между элементами
$vertical-list-padding: .6em;

.sdb-popup .clear {
    clear: both;
    }

.sdb-popup .clearfix {
    overflow: hidden;
    zoom: 1;
    //&:after {
    //    content: "";
    //    display: table;
    //    clear: both;
    //}
    }

.sdb-popup-card {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    }

.sdb-popup-card a {
    color: #676767;
}

.sdb-popup-card li {
    margin: 0;
    padding: 0;
    }

.sdb-popup-card li::before {
    content: '';
    margin: 0;
    padding: 0;
    width: 0;
    font-size: 1em;
    display: block;
    }

.sdb-popup-card-defs {
    margin: 0;
    padding: 0;
    }

.sdb-popup-card-def {
    color: #676767;
    }

.sdb-popup-card-def::before {
    content: '';
    width: 0;
    padding: 0;
    margin: 0;
    }

.sdb-popup-card-def:not(:first-of-type) {
    margin-top: 1em;
    }

.sdb-popup-card-def-text {
    font-size: 1.3em;
    }

.sdb-popup-card-def ol.sdb-popup-card-translates {
    position: relative;
    margin: 0.6em 0 0 0;

    // padding left for counters' place
    padding: 0 0 0 1.35em;
    list-style: none; //decimal;
    counter-reset: card-translates-counter;
    }

.sdb-popup-card-translates .sdb-popup-card-translate {
    margin: $vertical-list-padding 0 0 0;
    @extend .clearfix;

    // custom counters
    &::before {
        position: absolute;
        left: 0;
        width: 1em;
        counter-increment: card-translates-counter;
        content: counter(card-translates-counter, decimal);
        color: #9a9a9a;
        }
    }

.sdb-popup-card-marks {
    float: left;
    margin: 0 0 0 .3em;
    color: #9a9a9a;
    &:empty {
        display: none;
        }
    }

.sdb-popup-card-def > .sdb-popup-card-marks {
    float: none;
    display: inline-block;
    margin: 0 0 0 .6em;
    }

.sdb-popup-card-marks__gen {
    margin: 0 0 0 .3em;
    font-style: italic;
    &:empty {
        display: none;
        }
    }

.sdb-popup-card-article {
    color: #676767;
    margin: 0 0.3em 0 0;
    font-size: 1.1em;
    &:empty {
        display: none;
    }
}

.sdb-popup-card-transcription {
    color: #9a9a9a;
    margin: 0 0 0 0.3em ;
    font-size: 1em;
    &:empty {
        display: none;
    }
}

.sdb-popup-card-marks__fl {
    margin: 0 0 0 .6em;
    &:empty {
        display: none;
        }
    }

.sdb-popup-card-translates .cart-marks__fl {
    display: none;
    }

a.sdb-popup-card-translate-text {
    color: #676767;
}

.sdb-popup-card-translate-text {
    float: left;
    margin: 0 0 0 .6em;
    &:first-child {
        margin-left: 0;
        }
    }

.sdb-popup-card-def-pos {
    margin-left: .3em;
    color: #070;
    }

// <!-- синонимы
.sdb-popup-card-synonym {
    float: left;
    }

.sdb-popup-card-synonym-list {
    float: none;
    margin: 0;
    padding: 0;
    }

li.sdb-popup-card-synonym-list__item {
    float: left;
    // перед первым элеменом списка покажем запятую
    &:first-of-type:before {
        float: left;
        margin: 0 $comma-list-padding 0 0;
        content: ',';
        }
    // и после всех элементов, кроме последнего, тоже покажем запятую
    &:not(:last-of-type):after {
        float: left;
        margin: 0 $comma-list-padding 0 0;
        content: ',';
        }
    }

.sdb-popup-card-synonym-list__item-text {
    float: left;
    }

.sdb-popup-card-synonym-delimiter {
    float: left;
    margin: 0 .5em 0 0;
    }

// -- end of synonyms -->

.sdb-popup-card-translate .sdb-popup-card-means {
    padding: 0;
    margin: $vertical-list-padding 0 0 0;
    color: #80494b;
    @extend .clearfix;
    @extend .clear;

    // hide list with no children
    &:empty {
        display: none;
        }

    &::before {
        float: left;
        content: '(';
        }

    &::after {
        float: left;
        content: ')'
        }
    }

@mixin li-comma-delimiter {
    float: left;
    // words comma delimiter
    &:not(:last-of-type):after {
        content: ', ';
        padding: 0 $comma-list-padding 0 0;
        }
    // no comma after single word
    &:only-of-type::after {
        content: '';
        padding: 0;
        }
    }

.sdb-popup-card-mean {
    @include li-comma-delimiter;
    }

a.sdb-popup-card-mean-href {
    color: #80494b;
    &:visited {
        color: #80494b;
        }
    }

.sdb-popup-card-translate .sdb-popup-card-examples {
    @extend .clearfix;
    margin: $vertical-list-padding 0 0 1em;
    padding: 0;
    color: #777;

    &:empty {
        display: none;
        }
    }

.sdb-popup-card-defs:not(.examples-expanded) .sdb-popup-card-examples {
    display: none;
    }

.sdb-popup-card-examples .sdb-popup-card-example {
    @extend .clearfix;
    margin: 0 0 .3em 0;
    &:last-of-type {
        margin-bottom: 0;
        }
    }

.sdb-popup-card-example-text {
    float: left;
    &:after {
        content: ' –';
        margin: 0 .3em 0 0;
        }
    }

.sdb-popup-card-example-translates {
    padding: 0;
    margin: 0;
    }

.sdb-popup-card-example-translate {
    @include li-comma-delimiter;
    }

.sdb-popup-card-def__examples-toggle {
    margin: 0 0 0 2em;
    color: #9a9a9a;
    cursor: pointer;
    &:after {
        content: attr(data-text-show);
        }
    }

.sdb-popup-card-def:not(:first-child) .sdb-popup-card-def__examples-toggle {
    display: none;
    }

.sdb-popup-card-defs.examples-expanded .sdb-popup-card-def__examples-toggle:after {
    content: attr(data-text-hide);
    }

.sdb-popup-card-def-sound {
    cursor: pointer;
    margin: 0 0 0 1em;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    color: #1d9bf5;
    background: none;
    padding: 2px;
    border-radius: 2px;
    width: 1.5em;
    height: 1.5em;
    opacity: 0;
    }

.sdb-popup-card-def-sound > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    display: none;
    }

.sdb-popup-card-def-sound:hover > svg {
    display: none;
    }

.sdb-popup-card-def-sound > svg.default-sound {
    display: block;
    }

.sdb-popup-card-def-sound:hover > svg.default-sound-hover {
    display: block;
    }

.sdb-popup-card-def-sound_animation > svg:nth-of-type(1) {
    -webkit-animation: _3uPUn .6s 0s infinite;
    animation: _3uPUn .6s 0s infinite;
    z-index: 1;
    }
.sdb-popup-card-def-sound_animation > svg:nth-of-type(2) {
    -webkit-animation: _2ap2e .6s 0s infinite;
    animation: _2ap2e .6s 0s infinite;
    z-index: 1;
    }
.sdb-popup-card-def-sound_animation > svg:nth-of-type(3) {
    -webkit-animation: UHd5D .6s 0s infinite;
    animation: UHd5D .6s 0s infinite;
    z-index: 1;
    }
.sdb-popup-card-def-sound_animation > svg:nth-of-type(4) {
    -webkit-animation: _2_tKW .6s 0s infinite;
    animation: _2_tKW .6s 0s infinite;
    z-index: 1;
    }
.sdb-popup-card-def-sound_animation > .default-sound {
    -webkit-animation: _15Npa .6s 0s infinite;
    animation: _15Npa .6s 0s infinite;
    display: inline-block;
    opacity: 0;
    z-index: 0;
    }

.sdb-popup-card-def-sound_animation > .default-sound-hover {
    display: none;
    }
//.sdb-popup-card-def-sound::after {
//    top: 50%;
//    left: 50%;
//    width: 20px;
//    height: 20px;
//    margin: -10px 0 0 -10px;
//    content: "";
//    opacity: .4;
//    display: block;
//    position: absolute;
//    background: url(/static/svg/tr_text.svg) -20px 0;
//    pointer-events: none;
//    }
//
//.sdb-popup-card-def-sound:hover {
//    z-index: 1;
//    border-color: #b2b2b2;
//    }
