@import './reset.scss';

$popupMaxHeight: 30em;
$popupHeaderHeight: 2em;

$popupBodyHeight: $popupMaxHeight - $popupHeaderHeight;

.sdb-popup {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
    max-height: $popupMaxHeight;
    min-width: 200px;
    max-width: 500px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.25;
    z-index: 999;
    box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.5);
    transition-property: height;
    transition-duration: 2s;
}

.sdb-popup_hide {
    display: none;
}

.sdb-popup_loading {
    min-height: 20px;
}

.sdb-popup_loading .sdb-popup__header, .sdb-popup_loading .sdb-popup__body {
    display: none;
}

.sdb-popup_loading .sdb-popup__loading-bar {
    display: block;
}

.sdb-popup__header {
    position: relative;
    min-height: $popupHeaderHeight;
    background-color: lightgrey;
    padding: 0 0.4em;
}

.sdb-popup__body {
    position: relative;
    padding: 0.5em;
    max-height: $popupBodyHeight;
    box-sizing: border-box;
    overflow: auto;
}

.sdb-popup__loading-bar {
    display: none;
    position: relative;
    padding: 0.5em;
    min-height: 2em;
    line-height: 2em;
    text-align: center;
    background-color: lightgrey;
}

.sdb-popup__closer {
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -11px;
    cursor: pointer;
    z-index: 1;
}
