svg(viewBox="0 0 25 21")
    title sound1
    g(fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round")
        path(d="M5.525 7.445h-3.5c-.83 0-1.5.672-1.5 1.5v3c0 .828.67 1.5 1.5 1.5h3.5l7 7v-20l-7 7zM15.525 6.945c1.125.818 2 2.002 2 3.5 0 1.498-.874 2.682-2 3.5" stroke="#1d9bf5")
        path(d="M17.525 4.445c1.667 1.376 3 3.67 3 6 0 2.326-1.34 4.624-3 6" stroke="#8ecdfa")
        path(d="M19.525 2.445c2.223 1.835 4 4.893 4 8 0 3.1-1.785 6.165-4 8" stroke="#d2ebfd")
svg(data-reactid="s0.0.1" viewBox="0 0 25 21")
    title sound4
    g(fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round")
        path(d="M5.525 7.445h-3.5c-.83 0-1.5.672-1.5 1.5v3c0 .828.67 1.5 1.5 1.5h3.5l7 7v-20l-7 7z" stroke="#1d9bf5")
        path(d="M15.525 6.945c1.125.818 2 2.002 2 3.5 0 1.498-.874 2.682-2 3.5" stroke="#8ecdfa")
        path(d="M17.525 4.445c1.667 1.376 3 3.67 3 6 0 2.326-1.34 4.624-3 6" stroke="#1d9bf5")
        path(d="M19.525 2.445c2.223 1.835 4 4.893 4 8 0 3.1-1.785 6.165-4 8" stroke="#d2ebfd")
svg(data-reactid="s0.0.2" viewBox="0 0 25 21")
    title sound2
    g(fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round")
        path(d="M5.525 7.445h-3.5c-.83 0-1.5.672-1.5 1.5v3c0 .828.67 1.5 1.5 1.5h3.5l7 7v-20l-7 7z" stroke="#1d9bf5")
        path(d="M15.525 6.945c1.125.818 2 2.002 2 3.5 0 1.498-.874 2.682-2 3.5" stroke="#d2ebfd")
        path(d="M17.525 4.445c1.667 1.376 3 3.67 3 6 0 2.326-1.34 4.624-3 6" stroke="#8ecdfa")
        path(d="M19.525 2.445c2.223 1.835 4 4.893 4 8 0 3.1-1.785 6.165-4 8" stroke="#1d9bf5")
svg(data-reactid="s0.0.3" viewBox="0 0 25 21")
    title sound3
    g(fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round")
        path(d="M5.525 7.445h-3.5c-.83 0-1.5.672-1.5 1.5v3c0 .828.67 1.5 1.5 1.5h3.5l7 7v-20l-7 7z" stroke="#1d9bf5")
        path(d="M15.525 6.945c1.125.818 2 2.002 2 3.5 0 1.498-.874 2.682-2 3.5" stroke="#8ecdfa")
        path(d="M17.525 4.445c1.667 1.376 3 3.67 3 6 0 2.326-1.34 4.624-3 6" stroke="#d2ebfd")
        path(d="M19.525 2.445c2.223 1.835 4 4.893 4 8 0 3.1-1.785 6.165-4 8" stroke="#1d9bf5")
svg.default-sound(data-reactid="s0.0.4" viewBox="0 0 25 21")
    title sound
    g(fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round")
        path(d="M5.525 7.445h-3.5c-.83 0-1.5.672-1.5 1.5v3c0 .828.67 1.5 1.5 1.5h3.5l7 7v-20l-7 7z" stroke="#1d9bf5")
        path(d="M15.525 6.945c1.125.818 2 2.002 2 3.5 0 1.498-.874 2.682-2 3.5" stroke="#d2ebfd")
        path(d="M17.525 4.445c1.667 1.376 3 3.67 3 6 0 2.326-1.34 4.624-3 6" stroke="#d2ebfd")
        path(d="M19.525 2.445c2.223 1.835 4 4.893 4 8 0 3.1-1.785 6.165-4 8" stroke="#d2ebfd")
svg.default-sound-hover(data-reactid="s0.0.5" viewBox="0 0 25 21")
    title sound2
    g(fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round")
        path(d="M5.525 7.445h-3.5c-.83 0-1.5.672-1.5 1.5v3c0 .828.67 1.5 1.5 1.5h3.5l7 7v-20l-7 7z" stroke="#1d9bf5")
        path(d="M15.525 6.945c1.125.818 2 2.002 2 3.5 0 1.498-.874 2.682-2 3.5" stroke="#1d9bf5")
        path(d="M17.525 4.445c1.667 1.376 3 3.67 3 6 0 2.326-1.34 4.624-3 6" stroke="#1d9bf5")
        path(d="M19.525 2.445c2.223 1.835 4 4.893 4 8 0 3.1-1.785 6.165-4 8" stroke="#1D9BF5")
